body {
	font-family: arial,sans-serif;
}
.main {
	position: relative;
}

#g_logo {
	position: absolute;
	top: 100px;
	left: 50%;
	transform: translate(-50%, 0);
	width: 700px;
	height: auto;
}

/**#googleit {
	position: absolute;
	top:450px;
	left: 50%;
	transform: translate(-50%, 0);
}**/
.microphone {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAACrElEQVR42u2Xz2sTQRSAX8VSb1K8iNqKooJH2Ux6Ksn+iPQqxZMIehJB0do/IMhmQWsvHr2KSEGk0tSLIoWIYNUKij20F2/N7iaUZnYT0kYzzhMKs0HDJiTdLcwHDwKZSd63781LBiQSSW9JZdkhzfKm1Rz9mjZp/W9YdEU3vXv4HsQZ40FtNG36q5rls//Ej4tmbSS2T15Mvp3ExOPmEMQNbBtMMEyoljcFcQN7PqyAlqNfIG7gYQ0tYNIaxA1MrJPY3wImbUqBKAXSFv0tBSIVMOkvKRDtGKWN/T6FdqRAxFNoWwpEPIXqUqBT6ALU/UVgu8GW4GD3f6f9TRDYNJTDrk7YbtiqUumHwIYoUJuHERDAS0r4CvgFECgbY+cFAR7KT+g1POmCKFDNw6WggHc3fBtVb4CAoyauBgXIG+g1Xh5mRAGah6cggBd11fK/h7lOprIs0H6uRl6KAo5O7kOv4QmPiwJ4Jqqv4FiwCtXjvD2+tRmfK6kZ/ygI2HritK0rDVGgrClJ6DWMwYC/AGuCBMYcIC2V0CzvjmbRz3j3xUjn6CfeYreUJ2wQkGD75INPX1mFfsEFrrcIYCvdhC4paWQakxajpJMr0C9YFg54i7AsClRmh9/xnr0NHcInzZStk2aLwAcGMAD9pPIazvFKVDD5rdnhJeHLX5RTyRPQHpz5o66emMc9wdlPtvA8wF7Aq2BUHh1525qEo5JtR1WeOXpickO9cJIpyuD6xJmhYiZ5ytWSl3mlnuOaf+2zDaLDXmJrSgZ/MYVEugo+gSh+FkSBa4yd5Ul87DZ5XpFl/AyIEjzYjkau8WqshU2cr13HPbgX4gJOD97n465GZlyVvC9mSKloKI2iTnbwNT+gBX54H+IaXAtxJzE3ycSAFqSAFJACUkAikXD+AHj5/wx2o5osAAAAAElFTkSuQmCC) no-repeat -3px 0;	background-size: 24px 24px;
	display: inline-block;
	height: 24px;
	width: 18px;
	float: right;
	margin: 10px 16px 10px 10px;
}
.s_bar {
	position: absolute;
	height: 44px;
	width: 560px;
	background-color: #fff;
	top: 340px;
	margin: 0 0 191px 191px;
	right:50%;
	transform: translate(50%, 0);
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
}
#texthere {
	background: transparent;
	border: none;
	height: 40px;
	padding: 20 20 17 20px;
	width: 496px;
}
input {
	outline: none;
	font-size:17px;
}
.buttons {
	border: none;
	background-color: #f2f2f2;
	font-weight:bold;
	height: 36px;
	width: 125px;
	font-size: 13px;
	color: #5b5b5b;
	margin: 0 2 0 2;
}
#search {
	width: 125px;
}
#lucky {
	width: 142px;
}
.two_buttons {
	position: absolute;
	top: 400px;
	left: 50%;
	transform: translate(-50%, 0);
}
.bottom_nav {
	position: fixed;
	bottom:0px;
	display: block;
	width: 100%;
	background-color: #f4f4f4;
	border: .2px solid #e5e5e5;
	}
.r_nav {
	position: relative;
	float: right;
	right:17px;
}
.l_nav {
	position: relative;
	float: left;
	left:17px;
}
li a {
	text-decoration: none;
	color: #666;
	font-size: 13px;
}
li {
	display: inline-block;
	padding: 13px 13px;
}
li a:hover {
	text-decoration: underline; 
}